<div class="tab-pane active form-horizontal" id="<%= @dealer.id %>">
<%= form_for(@dealer) do |f| %>
  <% if @dealer.errors.any? %>
    <h3>Errors:</h3>
    <ul>
      <% @dealer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <h3>Dealer Contact Settings</h3>
  <p>Enter your account settings & contact information</p>
  <hr>

  <fieldset>
    <div class="control-group">
          <label class="control-label" for="prependedInput">Phone Number</label>
          <div class="controls">
            <%= f.text_field :contact_number, :class => "span3", :placeholder => "ex: 2065551234" %>
          </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
          <label class="control-label" for="prependedInput">Contact Link URL</label>
          <div class="controls">
            <%= f.text_field :contact_url, :class => "span3", :placeholder => "ex: http://www.website.com/contact_us" %>
          </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
          <label class="control-label" for="prependedInput">Banner Image URL</label>
          <div class="controls">
            <%= f.text_field :banner_url, :class => "span3", :placeholder => "ex: http://www.website.com/banner.png" %>
          </div>
    </div>
  </fieldset>

  <div class="control-group">
    <label class="control-label" for="prependedInput"></label>
    <div class="controls">
      <%= f.file_field :raw_text, :class => "span3" %>
    </div>
  </div>
  <fieldset>
    <div class="control-group">
          <label class="control-label" for="prependedInput"></label>
          <div class="controls">
            <%= f.submit "Update", :class => "btn btn-warning" do %>
              <i class="icon-refresh icon-white"></i>
            <% end %>
          </div>
    </div>
  </fieldset>

<hr>

  <fieldset>
    <div class="control-group">
          <label class="control-label" for="prependedInput">Company Name</label>
          <div class="controls">
            <%= f.text_field :name, :class => "span3", :placeholder => "Leave empty to read from feed" %>
          </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
          <label class="control-label" for="prependedInput">Address</label>
          <div class="controls">
            <%= f.text_field :location, :class => "span3", :placeholder => "Leave empty to read from feed" %>
          </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="control-group">
          <label class="control-label" for="prependedInput">ZIP Code</label>
          <div class="controls">
            <%= f.text_field :zip_code, :class => "span3", :placeholder => "Leave empty to read from feed" %>
          </div>
    </div>
  </fieldset>
<% end %>
</div>