<h2><%= @dealer.name %></h2>
	<small><%= @dealer.id %></small>
	<p><%= @dealer.location %> · <%= number_to_phone(@dealer.contact_number) %></p>

	<p>
		Banner Image:
		<br>
		<%= image_tag(@dealer.banner_url) %>
	</p>
<hr>
	<h3><%= link_to 'Update Listings from CSV File:', edit_dealer_path(@dealer) %></h3>
	<small><%= "Last Updated At: " %></small>
<hr>
<div class="well">
	<%= render 'dealers/inventory' %>
</dive>
<hr>
<br>

<%= link_to 'Edit', edit_dealer_path(@dealer) %> |
<%= link_to 'Back to Dealers', dealers_path %>