<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<small><%= @post.id %></small>
<hr>
<% @post.listings.each do |l| %>
	<%= image_tag(l.snapshot.to_s, :alt => "DA PIKCHA") %>
  	<%= 'current_path: '+l.snapshot.current_path.to_s %>
  	<%= 'path: '+l.snapshot.path.to_s %>
  	<%= 'url: '+l.snapshot.url.to_s %>
  	<%= Rails.root.to_s %>
  <% end %>
<hr>
<br>
<h2>Comments</h2>
<%= render @post.comments %>
<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |