<h1><%= @post.title %></h1>
<p><%= @post.content %></p>
<small><%= @post.id %></small>
<hr>
<% @post.listings.each do |l| %>
  	<%= l.test_location.to_s %>
  <% end %>
<hr>
<br>
<h2>Comments</h2>
<%= render @post.comments %>
<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'Back to Posts', posts_path %> |