<!DOCTYPE html>
<html>
<head>
  <title>Snazzy Test Site</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag %>
  <%= csrf_meta_tags %>
  <h1><%= link_to_unless_current('Snazzy Test Site',       {:action => 'index'}) %></h1>
</head>
<body>
<% flash.each do |key, value|%>
	<small><%= value %></small>
<% end %>
<%= yield %>

</body>
</html>
